#detail {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
  height: 85vh;
  width: 100%;
  background-color: rgb(248, 216, 193);
}
#imgContainer {
  max-width: 800px;
  max-height: 800px;
  border-radius: 10px;
  overflow: hidden;
  border-bottom: 10px double rgb(134, 36, 54);
  border-top: 10px double rgb(134, 36, 54);
}
#detail-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 45%;
}
.detail-text {
  color: rgb(134, 36, 54);
  border-bottom: 1px solid rgb(134, 36, 54);
}
.detail-image {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
#deleteButton {
  width: 6vh;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
