#home {
  background-color: rgb(248, 216, 193);
  position: absolute;
  top: 130px;
  width: 100%;
  height: 100%;
  user-select: none;
  display: flex;
  justify-content: center;
}
#displayComponent {
  display: flex;
  align-items: flex-end;
}
