.card {
  margin: 20px;
  width: 350px;
  height: 350px;
  border-radius: 25px;
  position: relative;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.card:hover {
  width: 365px;
  height: 365px;
  margin-top: -1%;
  box-shadow: 0px 4px 4px 0px rgb(255, 255, 255);
  border: 2px solid white;
}
.imgContainer {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.dogImage {
  margin: auto;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.info {
  color: rgb(34, 34, 34);
  font-weight: 700;
  overflow-wrap: break-word;
  word-wrap: break-word;
  line-height: 100%;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.5) 35%,
    rgba(255, 255, 255, 0.3) 80%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 15px;
  border: 0, 1px solid black;
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 100%;
}
