.temperaments {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  height: 100%;
}
.checks {
  width: 20%;
}

.temperamentsOption {
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 16px;
}
.temperamentsOption:hover .dropdown {
  display: block;
}

.dropdown {
  display: none;
  border-radius: 10px;
  background-color: rgb(134, 88, 85);
  text-shadow: 0px 0px 1px black;
  box-shadow: 16px 16px 16px -16px rgba(0, 0, 0, 1);
  padding: 16px;
  padding-bottom: 6px;
  position: absolute;
  margin-left: -6px;
  width: 450%;
  height: 1000%;
  z-index: 2;
}
@media (max-width: 980px) {
  .temperamentsOption {
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 16px;
    display: flex;
    justify-content: flex-start;
    width: 16%;
  }
  .dropdown {
    font-size: 13px;
    width: 550%;
    height: 1000%;
    z-index: 2;
  }
}
@media (max-width: 780px) {
  .dropdown {
    font-size: 12px;
    width: 600%;
    height: 1000%;
    z-index: 2;
  }
}
