.filterBar {
  background-image: url("./paws.png");
  background-size: repeat;
  background-color: rgb(169, 136, 173);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filterOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.buttons-wrapper {
  display: flex;
  justify-content: flex-end;
}

.hoverable-buttons {
  position: relative;

  background-color: rgb(150, 90, 135);
  color: white;
  border-radius: 15px;
  font-size: 14px;
  margin: 5px;
  height: 50%;
}

.hoverable-buttons:hover {
  background-color: rgb(115, 60, 100);
}

.clear-button {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.drop {
  border-radius: 15px;
  height: 20px;
  padding-left: 4px;
  margin-left: 5px;
}
