.landing {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
#dogVideo {
  object-fit: cover;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
#landing-link {
  position: absolute;
  text-decoration: none;
  top: 70%;
}
#landing-text {
  position: absolute;
  margin-left: -10%;
  color: white;
  text-shadow: 0px 0px 2px black;
  top: 60%;
}
#home-btn {
  width: 125%;
  font-size: 175%;
  text-align: center;
  padding-bottom: 5%;
  padding-top: 5%;
}
