#display-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 15px;
}
.display {
  height: 95vh;
  width: 100%;
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
}
.display-error {
  height: 60vh;
  width: 100%;
  margin-top: 5vh;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 800;
  color: white;
  text-shadow: 0px 0px 2px black;
}

.page-buttons {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: white;
  min-width: 8vh;
  height: 100%;
}

#prev {
  background: linear-gradient(
    90deg,
    rgba(119, 74, 72, 0.6) 0%,
    rgba(119, 74, 72, 0.4) 35%,
    rgba(119, 74, 72, 0.2) 80%,
    rgba(119, 74, 72, 0.05) 100%
  );
}
#prev:hover {
  background: linear-gradient(
    90deg,
    rgba(119, 74, 72, 0.8) 0%,
    rgba(119, 74, 72, 0.5) 35%,
    rgba(119, 74, 72, 0.3) 80%,
    rgba(119, 74, 72, 0.1) 100%
  );
}
#next {
  /* margin-left: 96%; */

  right: 0;
  background: linear-gradient(
    90deg,
    rgba(119, 74, 72, 0.05) 0%,
    rgba(119, 74, 72, 0.2) 35%,
    rgba(119, 74, 72, 0.4) 80%,
    rgba(119, 74, 72, 0.6) 100%
  );
}
#next:hover {
  background: linear-gradient(
    90deg,
    rgba(119, 74, 72, 0.1) 0%,
    rgba(119, 74, 72, 0.3) 35%,
    rgba(119, 74, 72, 0.5) 80%,
    rgba(119, 74, 72, 0.8) 100%
  );
}

#pages-container {
  position: absolute;
  width: 100%;
  top: 3vh;
  display: flex;
  justify-content: center;
}
#pages {
  display: flex;
  flex-direction: row;
}
.outter-dot {
  width: 15px;
  height: 15px;
  margin-left: 2px;
  margin-right: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-dot {
  background-color: rgba(195, 53, 79, 0.5);
  border-radius: 50%;
  width: 60%;
  height: 60%;
}

.page-dot:hover {
  width: 100%;
  height: 100%;
  background-color: rgba(175, 48, 71, 0.8);
}
.page-dot-selected {
  width: 100%;
  height: 100%;
  background-color: rgba(175, 48, 71, 0.8);
}
.page-dot-adyacent {
  transition: all 200ms;
  width: 75%;
  height: 75%;
  background-color: rgba(175, 48, 71, 0.6);
}
