#display-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
}
.display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1%;
  flex-grow: 1;
}

.page-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: white;
  min-width: 8vh;
  min-height: 100vh;
}

#prev {
  background: linear-gradient(
    90deg,
    rgba(115, 60, 100, 0.6) 0%,
    rgba(115, 60, 100, 0.4) 35%,
    rgba(115, 60, 100, 0.2) 80%,
    rgba(115, 60, 100, 0.05) 100%
  );
}
#prev:hover {
  background: linear-gradient(
    90deg,
    rgba(115, 60, 100, 0.8) 0%,
    rgba(115, 60, 100, 0.5) 35%,
    rgba(115, 60, 100, 0.3) 80%,
    rgba(115, 60, 100, 0.1) 100%
  );
}
#next {
  background: linear-gradient(
    90deg,
    rgba(115, 60, 100, 0.05) 0%,
    rgba(115, 60, 100, 0.2) 35%,
    rgba(115, 60, 100, 0.4) 80%,
    rgba(115, 60, 100, 0.6) 100%
  );
}
#next:hover {
  background: linear-gradient(
    90deg,
    rgba(115, 60, 100, 0.1) 0%,
    rgba(115, 60, 100, 0.3) 35%,
    rgba(115, 60, 100, 0.5) 80%,
    rgba(115, 60, 100, 0.8) 100%
  );
}

#pages-container {
  position: absolute;
  width: 100%;
  top: 140px;
  display: flex;
  justify-content: center;
}
