.create-temperaments {
  display: flex;
  flex-direction: column;
  width: 15%;
  margin-left: 50px;
}
#temperament-list {
  overflow: scroll;
  overflow-x: hidden;
  height: 400px;
}
#create-search {
  width: 90%;
}
.custom-selected {
  margin: 5px;
  border-top: 1px solid rgb(170, 170, 170, 0.5);
  background-color: rgb(170, 170, 170);
}

.custom-selected:hover {
  background-color: rgb(109, 109, 109);
}

.custom-create {
  margin: 5px;
  border-top: 1px solid rgb(170, 170, 170, 0.5);
}

.custom-create:hover {
  background-color: rgb(170, 170, 170);
}
