.create-temperaments {
  display: flex;
  flex-direction: column;
  width: 15%;
  margin-left: 50px;
}
#temperament-list {
  overflow: scroll;
  overflow-x: hidden;
  height: 400px;
}
#create-search {
  width: 90%;
  height: 25px;
}
.custom-selected {
  margin: 5px;
  border-top: 1px solid rgb(189, 121, 118, 0.5);
  background-color: rgb(134, 36, 54);
  color: white;
}

.custom-selected:hover {
  background-color: rgb(54, 23, 23);
}

.custom-create {
  margin: 5px;
  border-top: 1px solid rgb(189, 121, 118, 0.5);
}

.custom-create:hover {
  background-color: rgb(189, 121, 118);
  color: white;
}
