#temperament-list {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 170px;
  overflow: scroll;
  overflow-x: hidden;
}
.custom-selected {
  margin: 5px;
  border-top: 1px solid rgb(170, 170, 170, 0.5);
  background-color: rgb(170, 170, 170);
}

.custom-selected:hover {
  background-color: rgb(109, 109, 109);
}

.custom-create {
  margin: 5px;
  border-top: 1px solid rgb(170, 170, 170, 0.5);
}

.custom-create:hover {
  background-color: rgb(170, 170, 170);
}
