nav {
  position: sticky;
  top: 0px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: rgb(115, 60, 100);
}

.logo-wrapper {
  margin-right: auto;
}
#logoNav {
  border-radius: 50%;
  margin-left: 20px;
}

.hoverable-links {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  background-color: rgb(150, 90, 135);
  color: white;
  margin: 10px;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.hoverable-links:hover {
  background-color: rgb(177, 122, 163);
}
